.map-element {
  width: 100%;
  height: 300px;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 0;
}
h4 {
  color: $greenSea
}
.map-element:before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 10;
  pointer-events: none;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
}

.rain-map-widget {
  padding-top: 1em;
}

.map-row {
  padding-bottom: 0.5em;
}

.nens-div-icon svg {
  circle {
    stroke: #fff;
    stroke-width: 1px;
    fill-opacity: 0.8;
    &.outer {
      fill: #1abc9c;
      -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,1);
      -moz-box-shadow: 1px 1px 3px rgba(0,0,0,1);
      box-shadow: 1px 1px 3px rgba(0,0,0,1);
    }
    &.selected {
      fill: #e67e22;
    }
    &.inner {
      fill: #fff;
    }
  }
  height: 15px;
  width: 15px;
}
