.turquoise {
  background: $turquoise;
}

.navbar {
  margin-top: 1em;
}

nav {
  text-transform: capitalize;
  margin-left: -1rem;
  margin-right: -1rem;
}
nav > div > div.report-image {
  background: white;
  margin: -15px 0 -15px 0;
  padding: 15px 5px 15px 5px;
  color: $greenSea;
  -webkit-box-shadow: 7px 0 5px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 7px 0 5px -5px rgba(0,0,0,0.3);
  box-shadow: 7px 0 5px -5px rgba(0,0,0,0.3);
}
nav > div > div > img {
  max-height: 30px;
  margin-left: 5px;
}

nav > div {
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
