.recurrence-title {
  cursor: pointer;
  width: 100%;
  background: lighten($turquoise, 10%);
  text-transform: capitalize;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.recurrence-content.show {
  opacity: 1;
  height: 100%;
  display: block;
}

.recurrence-content {
  opacity: 0;
  height: 0px;
  display: none;
  transition: display 0.4s, opacity 0.5s, height 0.3s, linear;
}
