.recurrence-title {
  color: #fff;
  cursor: pointer;
  width: 100%;
  background: lighten($greenSea, 10%);
  text-transform: capitalize;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.recurrence-selected {
  background: $carrot;
}

.recurrence-row-selected {
  background: #f1d4a1;
}

.recurrence-content.show {
  opacity: 1;
  height: 100%;
  display: block;
}

.recurrence-content {
  opacity: 0;
  height: 0;
  display: none;
  transition: display 0.4s, opacity 0.5s, height 0.3s, linear;
}
