{
  "extends": "eslint-config-airbnb-es5",
  "excludes": ["*/*.html"],
  "rules": {
    "func-names": 0,
    "no-else-return": 0,
    "space-before-function-paren": [2, "always"],
    "radix": 0
  },
  "globals": {
    "angular": true,
    "describe": true,
    "$": true,
    "L": true
  },
  "react/jsx-wrap-multilines": 2,      // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/wrap-multilines.md
  "react/no-did-mount-set-state": [2], // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-did-mount-set-state.md

}
