<div class="row">
  <div class="col-sm-8"></div>
    <div class="col-sm-4">
    <ul class="list-inline pull-right">
      <li class="list-inline-item">Kies datum:</li>
      <li class="list-inline-item"><select class="form-control form-control-sm" ng-options="y as y for y in years" ng-model="activeYear" ng-change="setYear()"/></li>
      <li class="list-inline-item"><select class="form-control form-control-sm" ng-options="m as m for m in months" ng-model="activeMonth" ng-change="setMonth()"/></li>
    </ul>
  </div>
</div>
