<div>
  <div class="row">
    <div class="col-md-12 recurrence recurrence-title" ng-click="toggleContent()">
      {{ location.title }}
    </div>
  </div>
  <div ng-class="{show: show}" class="row recurrence recurrence-content">
    <table class="table col-md-12">
      <thead>
        <tr>
          <th>Tijd</th>
          <th>Bui</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3</td>
          <td>groot</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
