<div ng-class="{'print-hidden': !show}">
  <div ng-if="userHasNoRightsToUrlRainRecurrence">{{ userHasNoRightsToUrlRainRecurrence }}<a href="https://nelen-schuurmans.topdesk.net/tas/public/ssp" target="_blank" rel="noopener noreferrer">Please contact service desk</a></div>
  <div class="row">
    <div class="col-md-12 recurrence recurrence-title" ng-click="toggleContent()" ng-class="{'recurrence-selected': location.title === rainTMax.location}">
      {{ location.title }}
    </div>
  </div>
  <div ng-class="{show: show, 'print-hidden': !show}" class="row recurrence recurrence-content">
    <table class="table col-md-12">
      <thead>
        <tr>
          <th>Start</th>
          <th>Duur</th>
          <th>Neerslag</th>
          <th>Herhalingstijd</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rrc in recurrenceData track by $index" ng-class="{'recurrence-row-selected': (rrc.start === rainTMax.start && rrc.end === rainTMax.end && rrc.t_choice === rainTMax.t_choice)}">
          <td>{{ rrc.start | date: 'dd-MM-yyyy HH:mm'}}</td>
          <td>{{ rrc.td_window }}</td>
          <td>{{ rrc.max | number: 1}}</td>
          <td>{{ rrc.t }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
