<div id="MotherModal" class="modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content container">
      <div class="modal-header row">
        <div class="col-md-1"></div>
          <h4 class="modal-title" translate>
            Welkom op de regenrapportage van Lizard
          </h4>
      </div>
      <div class="modal-body">
        <div ng-if="info" ng-include="'/templates/modalinfo.html'"></div>
        <div ng-if="marketing" ng-include="'/templates/modalmarketing.html'"></div>
      </div>
    </div>
  </div>
</div>
