{
  "defaults": {
    "rainRasterStoreUUID": "b39df484",
    "monthRainRasterStoreUUID": "b39df484",
    "wmsUrl": "/api/v2/wms/?",
    "tmsUrl": "https://{s}.tiles.mapbox.com/v3/nelenschuurmans.iaa98k8k/{z}/{x}/{y}.png",
    "cutOffs": {
      "fiveMinuteCutOff": 300001,
      "hourCutOff": 7200000,
      "dayCutOff": 172800000,
      "monthCutOff": 2419200000
    },
    "colorMaps":{
      "fiveMin": {
        "type": "GradientColormap",
        "free": false,
        "log": true,
        "data": [
            [0.0009, [255, 255, 255,   0]],
            [0.0010, [255, 255, 255,  26]],
            [0.0100, [189, 195, 199, 255]],
            [0.0500, [ 52, 152, 219, 255]],
            [0.2000, [ 41, 128, 185, 255]],
            [0.5000, [141, 162, 100, 255]],
            [1.0000, [241, 196,  15, 255]],
            [1.5000, [231,  76,  60, 255]],
            [2.5000, [193,  82, 121, 255]],
            [5.0000, [155,  89, 182, 255]],
            [6.0000, [155,  89, 182, 255]]
        ]
      },
      "hour": {
        "type": "GradientColormap",
        "free": false,
        "log": true,
        "data": [
            [ 0.019, [255, 255, 255,   0]],
            [ 0.020, [255, 255, 255,  26]],
            [ 0.200, [189, 195, 199, 255]],
            [ 0.500, [ 52, 152, 219, 255]],
            [ 1.000, [ 41, 128, 185, 255]],
            [ 2.500, [141, 162, 100, 255]],
            [ 5.000, [241, 196,  15, 255]],
            [ 7.500, [231,  76,  60, 255]],
            [15.000, [193,  82, 121, 255]],
            [30.000, [155,  89, 182, 255]],
            [31.000, [155,  89, 182, 255]]
        ]
      },
      "day": {
        "type": "GradientColormap",
        "free": false,
        "log": true,
        "data": [
            [ 0.049, [255, 255, 255,   0]],
            [ 0.050, [255, 255, 255,  26]],
            [ 0.500, [189, 195, 199, 255]],
            [ 2.000, [ 52, 152, 219, 255]],
            [ 2.500, [ 41, 128, 185, 255]],
            [ 5.000, [141, 162, 100, 255]],
            [10.000, [241, 196,  15, 255]],
            [20.000, [231,  76,  60, 255]],
            [30.000, [193,  82, 121, 255]],
            [50.000, [155,  89, 182, 255]],
            [51.000, [155,  89, 182, 255]]
        ]
      },
      "month": {
        "type": "GradientColormap",
        "free": false,
        "log": true,
        "data": [
          [4.9, [255, 255, 255,   0]],
          [  5, [255, 255, 255,  26]],
          [ 10, [189, 195, 199, 255]],
          [ 25, [ 52, 152, 219, 255]],
          [ 40, [ 41, 128, 185, 255]],
          [ 55, [141, 162, 100, 255]],
          [ 70, [241, 196,  15, 255]],
          [ 85, [231,  76,  60, 255]],
          [ 90, [193,  82, 121, 255]],
          [100, [155,  89, 182, 255]],
          [101, [155,  89, 182, 255]]
        ]
      }
    }
  },
  "sites": {
    "localhost:3000": {
      "state": {
        "regionTitle": "Apeldoorn",
        "bounds": {
          "northeast": {
            "lat": 52.3,
            "lng": 6.0
          },
          "southwest": {
            "lat": 52.1,
            "lng": 5.8
          }
        },
        "area": 495.681
      },
      "monthlyMeans": [
        69,
        56,
        66,
        42,
        61,
        65,
        81,
        72,
        78,
        82,
        79,
        75
      ],
      "locations": [
        {
          "title": "Stadsdeel NoordOost",
          "geometry": {
            "lng": 5.9987068,
            "lat": 52.2266165
          }
        },
        {
          "title": "Stadsdeel ZuidOost",
          "geometry": {
            "lng": 5.9999084,
            "lat": 52.1986642
          }
        },
        {
          "title": "Stadsdeel ZuidWest",
          "geometry": {
            "lng": 5.9569073,
            "lat": 52.1902462
          }
        },
        {
          "title": "Stadsdeel NoordWest",
          "geometry": {
            "lng": 5.9397411,
            "lat": 52.2198076
          }
        },
        {
          "title": "Centrum",
          "geometry": {
            "lng": 5.9630442,
            "lat": 52.2129713
          }
        },
        {
          "title": "Beekbergen",
          "geometry": {
            "lng": 5.9650183,
            "lat": 52.1613233
          }
        },
        {
          "title": "Uddel",
          "geometry": {
            "lng": 5.7817268,
            "lat": 52.2588068
          }
        },
        {
          "title": "Hoenderlo",
          "geometry": {
            "lng": 5.8806038,
            "lat": 52.118075
          }
        },
        {
          "title": "Loenen",
          "geometry": {
            "lng": 6.0208082,
            "lat": 52.1171791
          }
        }
      ]
    }
  }
}