<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>
        Welkom op de regenrapportage app van Lizard. De regenrapportage levert
        u maandelijkse neerslaginformatie op maat voor uw gebied en is
        beschikbaar als plug-in binnen het Lizard platform. Deze rapportage
        maakt gebruik van de composiet regenradar beelden van het Nationale
        Regenradar product. In deze regenrapportage wordt de volgende
        informatie geleverd:
        <ul>
          <li>
            De meest heftige regenbui, met de grootste herhalingstijd voor uw
            gebied. Dit wordt voor een aantal strategische locaties in uw
            gebied bepaald;
          </li>
          <li>
            Het cumulatieve neerslagbeeld met ruimtelijks spreiding op 1x1 km
            resolutie van:
            <ul>
              <li>
                De meest heftige regenbui met grootste herhalingstijd;
              </li>
              <li>
                De maandelijkse neerslagsom
              </li>
            </ul>
          </li>
          <li>
            De neerslag statistieken zoals duur, volume en herhalingstijd van
            alle strategisch gekozen locaties;
          </li>
          <li>
            Een grafiek met maandvolume, afgezet tegen het langjarig,
            maandelijks gemiddelde neerslag.
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>