<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>
        Welkom op de regenrapportage app van Lizard. De regenrapportage biedt
        maandelijks inzicht in de neerslag voor uw regio, gemeente of
        waterschap. De regenrapportage toont twee kaarten. Een met de
        regenmaandsom en een  met de regensom voor de heftigste bui van die
        maand.
      </p>
      <p>
        De heftigste bui wordt bepaald op basis van door u aangegeven locaties.
        Per locatie wordt voor verschillende tijdsduren bepaald welke regenbui
        die maand de grootste herhalingstijd had (en dus het minst frequent
        voorkwam). Over alle locaties wordt de bui met de grootste
        herhalingstijd gearceerd.
      </p>
      <p>
        Als laatste toont de neerslagrapportage de maandsommen van het
        afgelopen jaar in vergelijking met het meerjaarlijks gemiddelde van de
        maandsommen.
      </p>
    </div>
  </div>
</div>