<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p class="strong">
        Ook weinig zin om te gaan grasduinen in al uw neerslagdata? Wilt u
        simpelweg in één oogopslag inzicht hebben in de heftigste regenbuien
        voor uw regio, gemeente of waterschap. En daar een mooi neerslagbeeld
        van om te communiceren naar uw collega’s of derden? Dan is de
        regenrapportage wellicht iets voor u!
      </p>
      <p>
        De regenrapportage levert u maandelijkse neerslaginformatie op maat
        voor uw gebied en is beschikbaar als plug-in binnen het Lizard
        platform. Deze rapportage maakt gebruik van de composiet regenradar
        beelden van het Nationale Regenradar product. In deze regenrapportage
        wordt de volgende informatie geleverd:
        <ul>
          <li>
            De meest heftige regenbui, met de grootste herhalingstijd voor uw
            gebied. Dit wordt voor een aantal strategische locaties in uw
            gebied bepaald;
          </li>
          <li>
            Het cumulatieve neerslagbeeld met ruimtelijks spreiding op 1x1 km
            resolutie van:
            <ul>
              <li>
                De meest heftige regenbui met grootste herhalingstijd;
              </li>
              <li>
                De maandelijkse neerslagsom
              </li>
            </ul>
          </li>
          <li>
            De neerslag statistieken zoals duur, volume en herhalingstijd van
            alle strategisch gekozen locaties;
          </li>
          <li>
            Een grafiek met maandvolume, afgezet tegen het langjarig,
            maandelijks gemiddelde neerslag.
          </li>
        </ul>
      </p>
      <p>
        De regenrapportage hoeft slechts één maal te worden ingericht, is voor
        onbepaalde tijd beschikbaar en levert u de informatie vanaf 2010! U
        kunt hem zelfs uitprinten op papier.
      </p>
      <p>
        Bent u ook geïnteresseerd in een neerslagrapportage? Neem dan
        <a href="mailto:info@nelen-schuurmans.nl">contact</a> met ons op!
      </p>
    </div>
  </div>
      <img ng-src="images/example.png" alt="voorbeeld"/>

</div>